/* Burning Boots
 * Please use a tab size of 8
 */

/* Set up the technologies list */
#technologies li {
	/* Float them so the format nicely */
	display:		inline;

	/* Remove the bullet point */
	list-style-type:	none;

	/* Make sure they have a bit of a gap between them */
	margin-right:		10px;
	padding:		5px;
}
#technologies li:last-child {
	/* Remove the last margin */
	margin-right:		0px;
}
#technologies ul {
	/* Centre the technologies */
	text-align:		center;

	/* Remove the list indentation */
	padding-left:		0px;
}
#technologies img {
	/* Make sure they have a bit of a gap between them */
	margin-top:		10px;

	/* Animate the changes in size */
	transition:		width 0.5s, height 0.5s;
	-moz-transition:	width 0.5s, height 0.5s; /* Firefox 4 */
	-webkit-transition:	width 0.5s, height 0.5s; /* Safari and Chrome */
	-o-transition:		width 0.5s, height 0.5s; /* Opera */
}
@media (max-width:480px) {
#technologies img {
	/* Reduce the size of the images */
	height:		30px;
}
}

/* Set up the page footer */
#page-footer {
	/* Make sure it wraps everything up */
	overflow:	hidden;
}

/* Set up the page header */
#page-header {
	/* Make sure it wraps everything up */
	overflow:	hidden;
}
/* Set up the logo text */
#burning-boots-logo-title {
	/* Sort out the spacing for the font */
	margin: 0 0 -0.3em 0;
}

/* Set up the themes */
#themes p {
	/* Float them so the format nicely */
	display:	inline;

	/* Make sure they are seperated */
	margin-right:	10px;
}
#themes p:last-child {
	/* Remove the last ones margin so it doesn't clip */
	margin-right:	0px;
}

/* Page version */
#page-version {
	/* Float it on the right */
	float:	right;
}

/* Add some padding to the main elements */
#main > article, noscript > article, #page-header, #page-footer > section {
	/* Padding around the element */
	padding:	1em;
}
