/* Burning Boots
 * Please use a tab size of 8
 */

/* Set up the technologies list */
#technologies li {
	/* Float them so the format nicely */
	float:			left;

	/* Remove the bullet point */
	list-style-type:	none;

	/* Make sure they have a bit of a gap between them */
	margin-right:		10px;
	padding:		5px;
}
#technologies li:last-child {
	/* Remove the last margin */
	margin-right:		0px;
}
#technologies ul {
	/* Set up overflow for the floating elements */
	overflow:		hidden;

	/* Remove the list indentation */
	padding-left:		0px;
}
#technology-html5-boilerplate img {
	/* Round the corners */
	border-radius:		5px;
}
#technologies img {
	/* Animate the changes in size */
	transition:		width 0.5s, height 0.5s;
	-moz-transition:	width 0.5s, height 0.5s; /* Firefox 4 */
	-webkit-transition:	width 0.5s, height 0.5s; /* Safari and Chrome */
	-o-transition:		width 0.5s, height 0.5s; /* Opera */
}
@media (max-width:480px) {
#technologies img {
	/* Reduce the size of the images */
	height:		30px;
}
}

/* Set up the themes */
#themes p {
	/* Float them so the format nicely */
	float:			left;

	/* Make sure they are seperated */
	margin-right:		10px;
}
#themes p:last-child {
	/* Remove the last ones margin so it doesn't clip */
	margin-right:		0px;
}
#themes {
	/* Set up overflow for the floating elements */
	overflow:		hidden;
}

/* Page version */
#page-version {
	/* Float it on the right */
	float:	right;
}

/* Add some padding to the main elements */
section > article, noscript > article, body > header, body > footer > section {
	/* Padding around the element */
	padding:	1em;
}