/* Burning Boots
 * Please use a tab size of 8
 */

/* Generic page printing properties */
@page {
	/* Specify a page margin when printing */
	margin:		2cm;
}

/* Root footer */
#page-footer {
	/* Remove the footer from printing */
	display:	none;
}

/* Sort out the header */
#page-header {
	text-align:	center;
}

/* Set up the logo text */
#burning-boots-logo {
	/* Make the logo smaller */
	width:	100px;
	height:	100px;
}
