/* Burning Boots
 * Please use a tab size of 8
 */

/* Set the default body styles */
.presentation-dark-fire body {
	/* Set the text */
	color: black;
}

/* Set up the page header */
.presentation-dark-fire #page-header {
	background-color:	#222;
	color:			white;
	background-image:	url('../../img/backgrounds/dark-stripes-45-degrees-25-opacity.png');
}

/* Set up the main articles */
.presentation-dark-fire #main > article {
	background-color:	#4f5;
	background-image:	url('../../img/backgrounds/dark-stripes-45-degrees-25-opacity.png');
}

/* Set up the page footer */
.presentation-dark-fire #page-footer {
	background-color:	grey;
	background-image:	url('../../img/backgrounds/light-stripes-45-degrees-25-opacity.png');
}
