/* Burning Boots
 * Please use a tab size of 8
 */

/* Change the default selection colour to Burning Boots orange */
::-moz-selection {background: #FF8000}
::selection {background: #FF8000}

/* Style the body */
body {
	/* Set up the default font family */
	font-family: NobileRegular, Constantia, 'Hoefler Text', "Adobe Caslon Pro", Baskerville, Georgia, Times, sans-serif;
}

/* Set up the heading sizes */
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: 0.83em}
h6 {font-size: 0.67em}

/* Set up the logo */
#burning-boots-logo {
	/* Smooth all changes */
	transition:		all 0.5s ease;
	-moz-transition:	all 0.5s ease; /* Firefox 4 */
	-webkit-transition:	all 0.5s ease; /* Safari and Chrome */
	-o-transition:		all 0.5s ease; /* Opera */
}
#burning-boots-logo-title {
	/* Change the font-face */
	font-family:	FranchiseRegular, sans-serif;

	/* No bolding */
	font-weight:	normal;

	/* Make it bigger */
	font-size:	5em;
	line-height:	90%;

	/* Change the colours */
	color:		#ff8000;
	text-shadow:	0 -1px 0 #fff,
			0 1px 0 #000;
	text-outline:	5px 0px #fff;

	/* Sort out the spacing for the font */
	margin:		.1em 0;

	/* Smooth all changes */
	transition:		all 0.5s ease;
	-moz-transition:	all 0.5s ease; /* Firefox 4 */
	-webkit-transition:	all 0.5s ease; /* Safari and Chrome */
	-o-transition:		all 0.5s ease; /* Opera */
}
@media (min-width:481px) {
#burning-boots-logo {
	/* Make it bigger! */
	width:		200px;
	height:		200px;
}
#burning-boots-logo-title {
	/* Make it bigger */
	font-size:	7em;
}
}
@media (min-width:769px) {
#burning-boots-logo-title {
	/* Make it bigger */
	font-size:	8em;
}
}
#burning-boots-logo-title:hover {
	/* Burn the title! */
	color:		white;
	text-shadow:	  0     0   10px #fefcc9,
			  5px  -5px 15px #feec85,
			-10px -10px 20px #ffae34,
			 10px -20px 25px #ec760c,
			-10px -30px 30px #cd4606,
			  0   -40px 35px #973716,
			  5px -45px 40px #451b0e;
}
#burning-boots-logo-subtitle {
	/* Sort out the spacing for the font */
	margin:		0;
}

/* Set up the links */
a {
	/* Remove the underline */
	text-decoration:	none;

	/* Set the colour */
	background-color:	#ff8000;
	color:			white;
	text-shadow:		none;

	/* Smooth the background colour change */
	transition:		background-color 0.5s ease;
	-moz-transition:	background-color 0.5s ease; /* Firefox 4 */
	-webkit-transition:	background-color 0.5s ease; /* Safari and Chrome */
	-o-transition:		background-color 0.5s ease; /* Opera */
}
a:nth-child(2n) {background-color: #ff0080}
a:nth-child(3n) {background-color: #cc0000}
a:nth-child(5n) {background-color: #aaf200}
a:nth-child(7n) {background-color: #3399ff}
a:hover {
	/* Set the colour */
	color:			white;
	background-color:	black;
}

/* Set up the technologies list */
#technologies li {
	/* Smooth the hover */
	transition:		opacity 0.2s ease;
	-moz-transition:	opacity 0.2s ease; /* Firefox 4 */
	-webkit-transition:	opacity 0.2s ease; /* Safari and Chrome */
	-o-transition:		opacity 0.2s ease; /* Opera */
}
#technologies li:hover {
	opacity:	0.7;
}
#technologies a {
	/* Make the links plain */
	background:		none;
}
#technology-normalize-css a {
	/* Set the normalize the same as the website */
	font-family:		Calibri, sans-serif;
	font-weight:		bold;
	font-size:		2em;
	text-decoration:	none;
	color:			#6EAD1A;
	text-shadow:		0 1px 0 #fff;
}
#technology-normalize-css a {
	/* Animate the changes in size */
	transition:		font-size 0.5s;
	-moz-transition:	font-size 0.5s; /* Firefox 4 */
	-webkit-transition:	font-size 0.5s; /* Safari and Chrome */
	-o-transition:		font-size 0.5s; /* Opera */
}
@media (min-width:481px) {
#technology-normalize-css a {
	/* Set the normalize the same as the website */
	font-size:	3.5em;
}
}
#technology-html5-boilerplate img {
	/* Round the corners */
	border-radius:		5px;
}
#technology-font-squirrel img {
	/* Round the corners */
	border-radius:		5px;
}

/* Page version */
#page-version {
	/* Make it semi-transparent as it's not that useful to users */
	opacity:	0.75;
}
