/* Burning Boots
 * Please use a tab size of 8
 */

/* Change the default selection colour to Burning Boots orange */
::-moz-selection {background: #FF8000}
::selection {background: #FF8000}

/* Set up the technologies list */
#technology-normalize-css a {
	/* Set the normalize the same as the website */
	font:			1em/1.4 Calibri, sans-serif;
	font-size:		3.5em;
	font-weight:		bold;
	text-decoration:	none;
	color:			#6EAD1A;
}
