/* Burning Boots
 * Please use a tab size of 8
 */

/* Set up the javascript warning to stand out */
#javascript-warning {
	/* Change the font-face */
	font-family:		FranchiseRegular, sans-serif;
	font-size:		2em;

	/* Make the background look like a warning */
	background-color:	yellow;
	background-image:	url(../../img/backgrounds.png);

	/* Center the content */
	text-align:		center;

	/* Sort out the text style */
	color:			red;
	text-shadow:	0 -1px 0 #000,
			0 1px 0 #fff;

	/* Boarder it */
	border:			1px solid black;
}